* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: sans-serif;
  --serenity-color: #91a8d0;
  --rose-quartz-color: #f7cac9;
  --header-bg-color: rgb(40, 37, 37);
}

html,
body {
  margin: 0;
}

html {
  min-width: 344px;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--header-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--serenity-color);
  border-radius: 25px;
}

/* Text styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  text-align: center;
}

/* List and Anchor Styles */
ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Space occupied by fixed navbar */
main::before {
  content: "";
  display: block;
  height: 50px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Header Section */
header,
.footer-section-container {
  display: flex;
  justify-content: space-between;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 15px;
  background: var(--header-bg-color);
  z-index: 100;
}

header a {
  color: white;
  font-weight: bold;
}

/* Nav style */
nav {
  display: flex;
  flex: 1;
  align-items: center;
  padding-bottom: 2px;
}

nav::before {
  content: "";
  flex: 2.5;
}

nav ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}

nav a img {
  width: 25px;
  height: 25px;
}

nav a img:hover {
  transform: translateY(-2px);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#landing {
  align-items: center;
}

#landing img {
  min-width: 100px;
  height: 50vh;
  object-fit: scale-down;
}

#movies-div {
  padding: 20px;
  gap: 10px;
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-auto-rows: 1fr;
}

.movie-card {
  padding: 15px;
  aspect-ratio: 3 / 4;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 15px;
  gap: 5px;
}

.movie-card p {
  text-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.movie-card img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 85%;
}

.movie-title {
  font-size: 0.9rem;
  font-weight: bold;
}

.movie-genre {
  font-size: 0.6rem;
}
